<h2>Likes</h2>

<div class="container">
    <!-- iteramos los likes para traer los id de usuario y luego sus fotos -->
    <p><%= @tweet.likes.count %> <%= (@tweet.likes.count) == 1 ? 'Like' : 'Likes'%></p>
    <div>
        <% Like.where(tweet_id: @tweet.id).each do |photo| %>
        <% profile_picture =  photo.user_id %>
            <img src="<%= User.find(profile_picture).profile_picture%>" width="60" height="60" class="rounded-circle">
            <p><%= User.find(profile_picture).name %></p>
        <% end %>
    </div>
</div>